---
layout: default
---

<div class="page">
  {% if site.posts.size == 0 %}
    <h2>Nenhum posts encontrado.</h2>
  {% else %}
    {% for post in site.posts %}
      <div class="content-list">
        <div class="list-item {% if forloop.first == true %}featured{% endif %}">
          <div class="content-item">
            <h2 class="list-post-title">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
              <div class="list-post-date">
                <time>{{ post.date | date_to_string }}</time>
              </div>
              <p class="excerpt">
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}(...)
              </p>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>