---
layout: default
---

<div class="page">
  <!-- <video width="800" height="188" autoplay>
    <source src="{{ site.baseurl }}/img/sobriedade-video.mp4"  type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
  {% if site.posts.size == 0 %}
    <h2>Nenhum posts encontrado.</h2>
  {% else %}
    {% for post in site.posts %}
      <div class="content-list">
        <div class="list-item {% if forloop.first == true %}featured{% endif %}">
          <div class="content-item">
            <h2 class="list-post-title">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
              <div class="list-post-date">
                <time>{{ post.date | date_to_string }}</time>
              </div>
              <p class="excerpt">
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}(...)
              </p>
              <a class="continue-lendo" href="{{ post.url | prepend: site.baseurl }}">Continue lendo</a>
          </div>
        </div>
        {% if forloop.last == false %}<hr>{% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>