<header>
	<div class="page">
		<a class="menu-btn" onclick="menuBtn()" style="display: none"></a>
		<div class="logo">
			<a href="{{ site.baseurl }}/">
				<img src="{{site.baseurl}}/img/logo.svg">
			</a>
		</div>
		<nav class="masthead-nav" style="display: none">
			<a href="{{site.baseurl}}/">Início</a>
			{% for page in site.pages | sort: "weight" %}
				{% if page.title %}
					<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}
			{% endfor %}
		</nav>
		<a class="search-btn" style="display: none"></a>
	</div>
</header>